In [2]:
import pandas as pd
from openbb import obb

In [3]:
def obb_currency_historical(SYMBOLS):
    Pipe = []
    for i, SYMBOL in enumerate(SYMBOLS): 
        try: 
            print(i, SYMBOL)
            X = obb.currency.price.historical(SYMBOL).results
            Pipe.append(pd.DataFrame([{ 'Symbol':SYMBOL, 'Date':x.date, 'Volume':x.volume, 'Price':x.close } for x in X]))
        except Exception as E: 
            print(i, SYMBOL, E)
    pass
    return pd.concat(Pipe, ignore_index=1) 

obb_currency_historical(['EUR','GBP'])

0 EUR
1 GBP

    Symbol        Date  Volume    Price
0      EUR  2024-02-16     0.0  0.92817
1      EUR  2024-02-19     0.0  0.92722
2      EUR  2024-02-20     0.0  0.92804
3      EUR  2024-02-21     0.0  0.92480
4      EUR  2024-02-22     0.0  0.92418
..     ...         ...     ...      ...
515    GBP  2025-02-10     0.0  0.80700
516    GBP  2025-02-11     0.0  0.80902
517    GBP  2025-02-12     0.0  0.80311
518    GBP  2025-02-13     0.0  0.80317
519    GBP  2025-02-14     0.0  0.79596

[520 rows x 4 columns]