In [2]:
import pandas as pd
from openbb import obb

In [153]:
pd.DataFrame([{ 'Date':x.date, 'Maturity':x.maturity, 'YTM':x.maturity_years, 'Rate':x.rate } for x in obb.fixedincome.government.yield_curve().results])

          Date Maturity        YTM    Rate
0   2025-02-13  month_1   0.083333  0.0437
1   2025-02-13  month_3   0.250000  0.0434
2   2025-02-13  month_6   0.500000  0.0433
3   2025-02-13   year_1   1.000000  0.0427
4   2025-02-13   year_2   2.000000  0.0431
5   2025-02-13   year_3   3.000000  0.0431
6   2025-02-13   year_5   5.000000  0.0439
7   2025-02-13   year_7   7.000000  0.0446
8   2025-02-13  year_10  10.000000  0.0452
9   2025-02-13  year_20  20.000000  0.0479
10  2025-02-13  year_30  30.000000  0.0472